
<app-menu></app-menu>
<body>
  <header class="bg_animate" style="background-image:url('../../../assets/fondo.png');  background-size:cover;">
      <section class="banner contenedor">
          <section class="banner_title">
            <img src="../../../assets/logo-menu.png" alt="">
          </section>
      </section>

      <div class="burbujas">
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
      </div>
  </header>
</body>
<app-header></app-header>
<app-footer></app-footer>
