
<app-menu></app-menu>
<body>
  <header class="bg_animate" style="background-image:url('../../../assets/fondo.png');  background-size:cover;">
      <section class="banner contenedor">
          <section class="banner_title">
            <img src="../../../assets/logo-menu.png" alt="">
          </section>
      </section>

      <div class="burbujas">
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
      </div>
  </header>

  <br><br><br><br>
<main>
    <section class="py-4 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Parroquial Rural Alóag</h1>
                <p class="lead">El turismo es una actividad parcial en esta parroquia, a pesar de contar con
                    atractivos naturales turísticos con gran potencial en ecoturístico tales como:</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                <!-- tarjeta 1 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Cerro_Viudita.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Cerro la Viudita</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#cerroviudita" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tarjeta 2 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Volcan-Corazon.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Volcán El Corazón</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button href="#volcanCorazon" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tarjeta 3 -->

                <!-- tarjeta 4 -->

            </div>
        </div>
    </div>

</main>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="text-center">
            <FONT COLOR="#0D924A"><h2 class="section-heading text-uppercase">ENTREGA DE SILLA DE RUEDAS Y BASTONES</h2></FONT>
            <p class="section-subheading">Se realizó las gestiones con Acción Social del GAD Municipal del Cantón Mejía para la entrega de sillas de ruedas y bastones, a las personas de bajos recursos humanos, previo al levantamiento de información y ver su estado emocional, económico, etc. </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a1.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a4.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a3.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a2.png" width="100" height="500">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="album py-1 bg-light">
  <div class="text-center">
    <FONT COLOR="#0D924A"
      ><h2 class="section-heading text-uppercase">
        Barrio Rumipamba en la quebrada Ucturumi
      </h2></FONT
    >
    <p class="section-subheading" style="text-align: center;">
      Al ingreso del Barrio Rumipamba en la quebrada Ucturumi se colocó un
      armico, para que fluya las aguas servidas y lluvias. Trabajo que se está
      realizando con el Presupuesto Participativo del GAD Municipal del Cantón
      Mejía y en cogestión con la comunidad.
    </p>
  </div>
  <div class="gallery-container">
    <div class="gallery-card">
      <a href="../../../assets/img/1.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/1.jpg" alt="Imagen"
      /></a>
    </div>

    <div class="gallery-card">
      <a href="../../../assets/img/2.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/2.jpg" alt="Imagen"
      /></a>
    </div>

    <div class="gallery-card">
      <a href="../../../assets/img/3.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/3.jpg" alt="Imagen"
      /></a>
    </div>

    <div class="gallery-card">
      <a href="../../../assets/img/4.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/4.jpg" alt="Imagen"
      /></a>
    </div>

    <div class="gallery-card">
      <a href="../../../assets/img/5.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/5.jpg" alt="Imagen"
      /></a>
    </div>

    <div class="gallery-card">
      <a href="../../../assets/img/6.jpg" data-lightbox="roadtrip"
        ><img src="../../../assets/img/6.jpg" alt="Imagen"
      /></a>
    </div>
  </div>
</div>
</body>
<app-header></app-header>
<app-footer></app-footer>
