<br>
<br>
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <!--<div class="container p-4">

    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <div class="col-md-12">
          <div style="align-items: center;">
            <a (click)="home()" style="cursor: pointer;">
              <img src="../../../assets/logo-menu.png"
            style="width: 200px; height: 100px; " class="img-responsive">
            </a>
          </div>

          <div style="text-align: left; font-family: Arial, Helvetica, sans-serif; font-weight: 600; color: rgb(128, 127, 127);">
            <p style="font-size: 80%;" >
              GOBIERNO AUTÓNOMO DESCENTRALIZADO
            </p>
            <p style="font-size: 80%;">
              PARROQUIAL RURAL DE ALÓAG
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-8" style="text-align: center;">


    <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="bi bi-facebook"></i></a>


  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="bi bi-twitter"></i></a>


  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="bi bi-google"></i></a>


  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="bi bi-instagram"></i></a>



  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="bi bi-youtube"></i></a>

      </div>
      <div class="col-2">

      </div>
  </div>

  </div>-->

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8" style="text-align: center;">


  <a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href="https://www.facebook.com/GADPAloag/"
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="bi bi-facebook"></i></a>


<a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href="#!"
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="bi bi-twitter"></i></a>


<a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href="#!"
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="bi bi-google"></i></a>


<a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href="#!"
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="bi bi-instagram"></i></a>



<a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href="#!"
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="bi bi-youtube"></i></a>

    </div>
    <div class="col-2">

    </div>
</div>

  <div class="text-center p-3" style=" background-color: #949497;" >
    © 2020 Copyright:
    <a class="text-dark" href="http://yavirac.edu.ec/" >copyright@yavirac.edu.ec</a>
  </div>

</footer>
