<app-menu></app-menu>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <FONT COLOR="#0D924A"><h2 class="section-heading text-uppercase">Trabajos realizados</h2></FONT>
            <h3 class="section-subheading text-muted">El GAD Parroquial Rural de Alóag</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/l1.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">#AlóagNoPara  </div>
                        <div class="portfolio-caption-subheading text-muted">💛💚❤ </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/p2.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">#AlóagNoPara </div>
                        <div class="portfolio-caption-subheading text-muted">💛💚❤</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/p3.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">#AlóagNoPara</div>
                        <div class="portfolio-caption-subheading text-muted">💛💚❤</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/p4.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">💛💚❤ #AlóagNoPara</div>
                        <div class="portfolio-caption-subheading text-muted">Branding</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/p5.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">#AlóagNoPara</div>
                        <div class="portfolio-caption-subheading text-muted">💛💚❤ </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">

                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../assets/home/img/portfolio/p6.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">#AlóagNoPara</div>
                        <div class="portfolio-caption-subheading text-muted">💛💚❤ </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

<!-- modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                            <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                            <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/l1.png" alt="..." />
                            <p>En la vía Alóag el Corazón se procedió a la limpieza de cunetas y aceras con la maquinaria del GAD Parroquial, con la finalidad de facilitar la circulación de las aguas lluvias sin ninguna dificultad.</p>
                            <ul class="list-inline">

                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/p2.png" alt="..." />
                    <p>En el Barrio San Cristóbal calle K se realizó el cambio de la tubería de 6 metros del alcantarillado en conjunto con la Epaage Mejía EP - Alcaldía de Mejía, en vista que se ha venido sufriendo varios taponamientos a causa de desechos que envía en la tubería.
                        Ernesto Caza
                        Presidente del GAD. Parroquial Rural de Alóag.
                        #AlóagSomosTodos
                        #SiemprePensandoEnTi</p>
                    <ul class="list-inline">

                    </ul>
                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/p3.png" alt="..." />
                    <p>En el Barrio Occidental calle Cheguevara, se recuperó el espacio verde, en vista que por varios años no se ha dado ningún tipo de mantenimiento, para así dar un mejor bienestar a la niñez de nuestra Parroquia.
                        Ernesto Caza
                        Presidente del GAD. Parroquial Rural de Alóag.
                        #AlóagSomosTodos
                        #SiemprePensandoEnTi</p>
                    <ul class="list-inline">

                    </ul>
                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/p4.png" alt="..." />
                    <p>Seguimos trabajando en el mejoramiento vial de la parte rural, en el Barrio Gualilagua se colaboro con material pétreo y la maquinaria del GAD Provincial de Pichincha, de esta manera mejoramos el ingreso y salida de los moradores.
                        Ernesto Caza
                        Presidente del GAD. Parroquial Rural de Alóag.
                        #AlóagSomosTodos
                        #SiemprePensandoEnTi</p>
                    <ul class="list-inline">

                    </ul>
                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/p5.png" alt="..." />
                    <p>En el Barrio San Vicente se colaboro con material pétreo y la maquinaria del GAD Provincial de Pichincha, mismas que realizaron el mantenimiento y el lastrado del acceso principal al Barrio, de esta manera mejoramos el ingreso y salida de los moradores.
                        🚜Seguimos mejorando la vialidad del sector rural.
                        Ernesto Caza
                        Presidente del GAD. Parroquial Rural de Alóag.
                        #AlóagSomosTodos
                        #SiemprePensandoEnTi</p>
                    <ul class="list-inline">

                    </ul>
                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h2 class="text-uppercase">💛💚❤ #AlóagNoPara</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <img class="img-fluid d-block mx-auto" src="../../../assets/home/img/portfolio/p6.png" alt="..." />
                    <p>El personal del GAD Parroquial Rural de Alóag, realizo la limpieza de la basura acumulada en la acequia del Obelisco donde sufrió el taponamiento y fue afectado la Asociación de Pequeños Comerciantes.
                        Pedimos a la ciudadanía tomar conciencia y no enviar desechos para evitar el taponamiento del alcantarillado.
                        Ernesto Caza.
                        Presidente del GAD. Parroquial Rural de Alóag.
                        #AlóagSomosTodos
                        #SiemprePensandoEnTi</p>
                    <ul class="list-inline">

                    </ul>
                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<app-header></app-header>
<app-footer></app-footer>
