<app-menu></app-menu>
<main>
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Parroquial Rural Alóag</h1>
                <p class="lead">El turismo es una actividad parcial en esta parroquia, a pesar de contar con
                    atractivos naturales turísticos con gran potencial en ecoturístico tales como:</p>
            </div>
        </div>
    </section>
<div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                <!-- tarjeta 1 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Cerro_Viudita.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Cerro la Viudita</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#cerroviudita" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tarjeta 2 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Volcan-Corazon.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Volcán El Corazón</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button href="#volcanCorazon" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tarjeta 3 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Reserva-Bomboli.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Reserva Natural Bomboli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button href="#reservaBomboli" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tarjeta 4 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top" src="../../../assets/LugaresTuristicos/Hacienda.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hacienda "La Alegría" - Alóag</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button href="#hacienda" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-header></app-header>
<app-footer></app-footer>


<!-- Modales con la información de los lugares turisticos -->
<!-- Modal 1 Cerro la Viudita-->
<div class="portfolio-modal modal" id="cerroviudita">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <h2 class="text-uppercase">Cerro la Viudita</h2>
                <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                <div class="row row-cols-lg-2">
                    <div class="col">
                        <div class="scroll">
                            <h3>Información</h3>
                            <p>Su importancia radica en un punto trascendental de la historia del Ecuador, pues los
                                ejércitos españoles estaban esperando escondidos en este cerro por su situación
                                estratégica para atacar a las fuerzas libertadoras que trataban de llegar a Quito.
                                Obviamente esto no llegó a suceder de modo que se libró la Batalla de Pichincha el 24 de
                                mayo de 1822 con lo que se selló la libertad. En conmemoración a este evento los alumnos
                                de varias instituciones educativas del Cantón Mejía ascienden a La Viudita en el mes de
                                noviembre.
                            </p>
                            <h3>¿Cómo llegar?</h3>
                            <p>
                                Después del peaje de la Vía Alóag-Santo Domingo, recorre el camino empedrado y el
                                sendero de tierra para descubrir un sitio histórico donde se llevaron a cabo
                                enfrentamientos por su ubicación estratégica, La Viudita (3.783 m.s.n.m.) fue testigo de
                                la lucha de las tropas españolas que debían evitar la llegada de las fuerzas
                                libertadoras a Quito y es el escenario de la Batalla de Pichincha, el 24 de Mayo de
                                1822.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="we-carousel">
                            <img class="" src="../../../assets/LugaresTuristicos/Cerro_Viudita.jpg" alt="..." />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-times me-1"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 Volcán El Corazón-->

<div class="portfolio-modal modal" id="volcanCorazon">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <h2 class="text-uppercase">Volcán El Corazón</h2>
                <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                <div class="row row-cols-lg-2">
                    <div class="col">
                        <div class="scroll">
                            <h3>Información del Volcán el Corazón</h3>
                            <p>
                                Ubicación Esta montaña se encuentra ubicada a 62,2 kilómetros de Quito y 22,2 de
                                Aloasí. Con una altura de 4.788.
                            </p>
                            <p>
                                Altura Con una altura de 4788.
                            </p>
                            <p>
                                Clima Posee una temperatura media anual de 12 ºC. Presenta dos estaciones: invierno
                                de noviembre a febrero y verano de marzo a octubre
                            </p>
                            <p>
                                El nombre de la montaña viene de las dos canales existentes en la ladera, las cuales
                                vistas a distancia, parecen unirse para dar la forma de un corazón.
                            </p>
                            <p>
                                Posee una temperatura media anual de 12º C. Invierno: Noviembre-Febrero y Verano:
                                Marzo-Octubre
                            </p>
                            <P>
                                El Corazón es un volcán inactivo pero cuyos últimos estudios revelan actividad
                                holocénica en los últimos 12.000 años. El volcán en sí es una caldera erosionada y
                                abierta hacia el noroccidente, el cráter se ha convertido en un profundo barranco
                                para formar el río Negro.
                            </P>
                            <P>
                                Hacia el este del volcán se encuentra un pequeño cerro denominado la Moya 3.522
                                m.s.n.m podría ser un cono de escorias adventicio. Importante resaltar la presencia
                                de construcciones indígenas cercanas denominadas "pucarás" y que sirvieron como
                                fuertes militares.
                            </P>
                            <P>
                                En este lugar existen ruinas previas a la conquista española en las laderas del
                                noreste, aun cuando están olvidadas aún deben ser investigadas en profundidad
                            </P>
                            <P>
                                Al sur de Quito puede encontrar este volcán, que deriva su nombre del flanco
                                occidental que, visto de lejos parece un corazón.

                            </P>
                            <p>
                                El Corazón es un volcán inactivo pero cuyos últimos estudios revelan actividad
                                holocénica en los últimos 12.000 años
                            </p>

                            <p>
                                Flora En lo que respecta a la flora en este se puede observar plantas tales como:
                                gramíneas, pajonal y chilcas. Además, asociaciones en almohadilla.
                            </p>
                            <p>
                                Fauna En cuanto a la fauna de la zona, se encuentran zorros, raposas, conejos de
                                monte, quilicos, gaviotas, curiquingues, gavilanes, lechuzas, colibríes,
                                murciélagos, chucuris, entre otros.
                            </p>
                            <h3>¿Cómo llegar?</h3>
                            <p>
                                Para llegar a El Corazón debe tomar la Panamericana Sur e ingresar por la Estación
                                del Tren a la Parroquia Aloasí y avanzar en un vehículo 4×4 al menos por 40 minutos
                                y ahí para ascender y hacer cumbre requiere de 4 horas aproximadamente y alcanzar
                                los 4.788 m.s.n.m.
                            </p>
                        </div>
                    </div>
                    <!-- carrousel de imagenes del volcan corazon -->
                    <div class="col">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active we-carousel">
                                    <img class="d-block w-100" src="../../../assets/LugaresTuristicos/Volcan-Corazon.jpg"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Volcan-Corazon2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Volcan-Corazon3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-times me-1"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 Reserva Bomboli-->
<div class="portfolio-modal modal" id="reservaBomboli">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <h2 class="text-uppercase">Reserva Natural Bomboli</h2>
                <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                <div class="row row-cols-lg-2">
                    <div class="col">
                        <div class="scroll">
                            <h3>Información</h3>
                            <p>La entrada al Bosque Bombolí se encuentra en el vigésimo km de Via Aloag-Santo
                                Domingo, desde donde se debe recorrer 6 Km. Esta atracción se ubica en el borde
                                costero de la cordillera occidental entre 2,700 y 3,450 metros sobre el nivel del
                                mar (msmm ), con una temperatura media de 13ºC en invierno y 25 en verano. En el
                                bosque se puede ver la hora (abeto, pumamaqui, podocarpus, etc.)
                            </p>
                        </div>
                    </div>
                    <!-- carrousel de imagenes de la Reserva Bomboli -->
                    <div class="col">
                        <div id="carousel2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active we-carousel">
                                    <img class="d-block w-100" src="../../../assets/LugaresTuristicos/Reserva-Bomboli.jpg"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Reserva-Bomboli2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Reserva-Bomboli3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-times me-1"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 1 Hacienda la alegria-->
<div class="portfolio-modal modal" id="hacienda">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <h2 class="text-uppercase">Hacienda "La Alegría" - Alóag</h2>
                <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                <div class="row row-cols-lg-2">
                    <div class="col">
                        <div class="scroll">
                            <h3>Información</h3>
                            <p>
                                Hacienda La Alegría, cría de caballos y ganado lechero, pertenece a la familia Espinosa, ubicada en el corazón de la "Avenida de los Volcanes" de Ecuador. Estamos a cuarenta y cinco minutos al sur de la histórica y colonial ciudad de Quito, la capital de Ecuador.
                            </p>
                            <p>
                                Ofrecemos alojamiento y actividades del ganaderas
                            </p>
                            
                            <h3>Viajes a caballo</h3>
                            <p>
                                Hacienda La Alegría se especializa en paseos a caballo en el bello entorno del Ecuador andino. El anfitrión de Gabriel Espinosa proviene de una familia con una gran tradición ecuestre, su pasión por los caballos se transmite a todo lo que hacemos en Hacienda.
                            </p>
                            <p>
                                Estamos al servicio tanto de jinetes experimentados como de principiantes que pueden seguir una práctica y en pocas horas aprenden a montar a caballo y disfrutar del hermoso paisaje andino.
                            </p>
                            <p>
                                Ofrecemos excursiones diarias para viajeros con tiempo limitado, así como programas de viaje de varios días para montar a caballo a través de las montañas, bosques y fuerzas andinas.
                            </p>
                            <p>
                                Para más de dos jinetes y especialmente para familias, podemos organizar viajes personalizados a sus necesidades, le recomendamos Cloudy Forest o Quilotoa Loop, que se puede realizar en las fechas que elija y son fáciles de caminar hasta 5 horas recomendadas para familias con niños de 8 años.
                            </p>
                        </div>
                    </div>
                    <!-- carrousel de imagenes del volcan corazon -->
                    <div class="col">
                        <div id="carousel3" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                                <li data-target="#carousel" data-slide-to="3"></li>
                                <li data-target="#carousel" data-slide-to="4"></li>
                                <li data-target="#carousel" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active we-carousel">
                                    <img class="d-block" src="../../../assets/LugaresTuristicos/Hacienda5.jpg"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Hacienda2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Hacienda3.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Hacienda4.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item we-carousel">
                                    <img class="d-block w-100"
                                        src="../../../assets/LugaresTuristicos/Hacienda6.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-times me-1"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
