<app-menu></app-menu>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Parroquial Rural Alóag</h1>
                <p class="lead text-muted">El turismo es una actividad parcial en esta parroquia, a pesar de contar con atractivos naturales turísticos con gran potencial en ecoturístico tales como:</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Ninahuilca</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hacienda Bombolí – Alóag (Propiedad Privada).</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hacienda San Agustín</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hacienda Gualilagua (Propiedad Privada).</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>

                        <div class="card-body">
                            <p class="card-text">Hacienda La Alegría (Propiedad Privada).</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Camino De Los Llanos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Camino Los Pucaras</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Cerro La Viudita</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Cerro El Corazón</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm boton">Mas
                                        información...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-header></app-header>
<app-footer></app-footer>
