<!--<div class="menu">
  <a class="navbar-brand ml-3" href="#">
    <span class="">BootstrapCreative </span>
  </a>
  <nav style="  border-top: none;
  border-left: none;
  box-shadow: 0px 6px rgb(207, 207, 207);
  background-color: rgb(9, 139, 122);
  " class="navbar  navbar-expand-md navbar-light  fixed-top">

    <div class="container">
      <a class="navbar-brand" (click)="home()"><img src="../../../assets/logo.jpg"
          style="width: 60px; height: 60px; border-radius: 50%;" class="img-responsive"></a>
      <button class="navbar-toggler"  style="position: relative; left: 50%;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>

      </button>
      <div class="col-5">

      </div>
      <div class="collapse navbar-collapse  " id="navbarSupportedContent"  >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light  " aria-current="page"
              style=" margin: 5px; border: none; " (click)="home()">Inicio</button>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <a class="btn btn-outline-light" role="button" id="dropdownMenuLink" style=" margin: 5px; border: none; "
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quienes Somos
                <i class="bi bi-caret-down-fill"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <button type="button" class="btn btn-outline-light "
                  style=" margin: 5px; border: none;  color: black; overflow: hidden;"
                  (click)="autoridades()">Autoridades</button>
                  <br>
                <button type="button" class="btn btn-outline-light "
                  style=" margin: 5px; border: none;  color: black; overflow: hidden;" (click)="vision()">Sobre
                  Nosotros</button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
              (click)="turismo()">Turismo</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
              (click)="historia()">Historia</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
              (click)="contactos()">Contactos</button>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
<br>
<br>
<br>
<br>
<br>
-->

<a class="navbar-brand ml-3" >
  <a class="navbar-brand" (click)="home()"><img src="../../../assets/logo.jpg"
    style="width: 60px; height: 60px; border-radius: 50%;" class="img-responsive"></a>
</a>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
<div class="navbar-toggler-right">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
</div>




<div class="collapse navbar-collapse flex-column " id="navbar">

  <ul class="navbar-nav  w-100 justify-content-center px-3">
    <li class="nav-item active">
      <button type="button" class="btn btn-outline-light  " aria-current="page"
      style=" margin: 5px; border: none; " (click)="home()">Inicio</button>
    </li>
    <li class="nav-item dropdown">
      <div class="dropdown">
        <a class="btn btn-outline-light" role="button" id="dropdownMenuLink" style=" margin: 5px; border: none; "
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quienes Somos
          <i class="bi bi-caret-down-fill"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button type="button" class="btn btn-outline-light "
            style=" margin: 5px; border: none;  color: black; overflow: hidden;"
            (click)="autoridades()">Autoridades</button>
            <br>
          <button type="button" class="btn btn-outline-light "
            style=" margin: 5px; border: none;  color: black; overflow: hidden;" (click)="vision()">Sobre
            Nosotros</button>
        </div>
      </div>
    </li>
    <li class="nav-item active">
      <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
      (click)="turismo()">Turismo</button>
    </li>
    <li class="nav-item active">
      <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
      (click)="historia()">Historia</button>
    </li>
    <li class="nav-item active">
      <button type="button" class="btn btn-outline-light  " style=" margin: 5px; border: none; "
      (click)="contactos()">Contactos</button>
    </li>
  </ul>



</div>

</nav>


