<app-menu></app-menu>
<main>
    <section class="py-0 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="section-heading text-uppercase">Parroquial Rural Alóag</h2>
                <p class="lead">Proyecto impulsado por el GAD Parroquial Rural de Alóag en busca de un envejecimiento activo y positivo, para un mejor bienestar y cuidado del adulto mayor, teniendo un estilo de vida tranquilo donde puedan disfrutar las cosas que más le gusten hacer, por ende venimos realizando talleres de diferentes manualidades.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="text-center">
                <FONT COLOR="#0D924A"><h2 class="section-heading text-uppercase">CONFECCIÓN DE FLORES PARA EL DÍA DE LOS DIFUNTOS </h2></FONT>
                <p class="section-subheading" align="left">Se realizó la confección de flores con el adulto mayor de la parte urbana y rural, para que todos tengan una forma de distracción y una mejor destreza en sus manos.</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="../../../assets/adulto/1.png" width="100" height="300">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="../../../assets/adulto/4.png" width="100" height="300">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="../../../assets/adulto/3.png" width="100" height="300">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img  class="card-img-top" src="../../../assets/adulto/2.png" width="100" height="300">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="text-center">
            <FONT COLOR="#0D924A"><h2 class="section-heading text-uppercase">ENTREGA DE SILLA DE RUEDAS Y BASTONES</h2></FONT>
            <p class="section-subheading" align="left">Se realizó las gestiones con Acción Social del GAD Municipal del Cantón Mejía para la entrega de sillas de ruedas y bastones, a las personas de bajos recursos humanos, previo al levantamiento de información y ver su estado emocional, económico, etc. </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a1.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a4.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a3.png" width="100" height="500">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a2.png" width="100" height="500">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="text-center">
            <FONT COLOR="#0D924A"><h2 class="section-heading text-uppercase">AGASAJO NAVIDEÑO AL ADULTO MAYOR</h2></FONT>
            <p class="section-subheading" align="left">Se vio la necesidad de agasajarlos con un pequeño programa, en el cual todos estaban con una sonrisa en su rostro por el pequeño homenaje.</p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a5.png" width="100" height="300">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a6.png" width="100" height="300">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a7.png" width="100" height="300">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img  class="card-img-top" src="../../../assets/adulto/a8.png" width="100" height="300">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-header></app-header>
<app-footer></app-footer>
