<app-menu></app-menu>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="jumbotron text-center">
    <h1 style="color: #020202;" >Misión institucional y Visión</h1>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2 style="color: #0D924A;">MISIÓN:</h2><br>
        <h4 align="justify">Liderar y articular procesos de Desarrollo a nivel Parroquial. Promover y ejecutar políticas públicas de Desarrollo sustentable, establecidas en la Constitución de la Republica, Código de Organización Territorial Autonomías y Descentralización Plan de Desarrollo Parroquial, Plan de Ordenamiento Parroquial, que responde a las necesidades de la Población, para conseguir una mejor calidad de vida con la participación de actores internos y externos, de manera participativa, equitativa e incluyente a través de asambleas de concertación.
          Establecer espacios de deliberación pública con el objeto de fortalecer las capacidades colectivas de interlocución con las autoridades y de esta forma incidir de manera informada en la gestión de lo público para crear una sociedad mejor. </h4>
         <h4 align="justify"> Garantizar la participación de los representantes legales de los barrios y actores sociales de manera que se permita el ejercicio de los derechos de ciudadanía y asegure la gestión democrática del GAD de ALÓAG, garantizando la prestación eficiente de servicios públicos, promoviendo y facilitando la participación Ciudadana y la inclusión social, impulsando el mejoramiento de la calidad de vida de su población que permita visualizar objetivamente el cambio económico y social en el territorio.</h4><br>
      </div>
      <div class="col-sm-4 logo">
        <img src="../../../assets/obra1.jpg" width="140%" height="100%">
      </div>
    </div>
  </div>
  <br><br>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-md-2 logo">
        <img src="../../../assets/obra3.jpg" width="300%" height="90%">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6" style="margin-left: 15%;">
        <h2 style="color: #0D924A;">VISIÓN:</h2><br>
        <h4 align="justify">En el período que comprende la gestión entre los años 2019-2023 establecer un Gobierno Parroquial que convierta a ALÓAG en un referente Nacional que integre todos los sectores en la promoción permanente de su progreso local; en un clima de   Seguridad y armonía, que logre soluciones visibles a los problemas sociales y económicos de la Parroquia y que garantice un cambio objetivo en la calidad de vida de su población.</h4><br>
        </div>
    </div>
  </div>

  </body>
  <app-header></app-header>
  <app-footer></app-footer>
