<app-menu></app-menu>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Div uno -->
      </div>

      <div class="col-md-8">
         <!-- Div dos --->
        <div style="text-align: center;">
          <div class="card" style="border-top: none;
          border-left: none;
          box-shadow: 10px 12px 15px rgb(156, 156, 156);" >
           <h3 style="margin: 18px; color: #030303;" > BANDERA DE ALÓAG</h3>
           <br>
           <div>
            <img style="width: 40%; height: 40%;" src="../../../assets/bandera.jpg" alt="">
           </div>
           <br>
           <h3 style="margin: 18px; color: #030303;" > HIMNO A LA PARROQUIA DE ALÓAG</h3>
           <p style="font-weight: 600;">
            Letra: Ramiro Caiza   <br>       Música: Lic. Lenin Palacios
           </p>

            <p style="font-weight: 600;" >CORO</p>
           <p style="margin: 25px;">
            Con honor siempre unidos cantamos
            Alóag cuna de valientes patriotas
            /su sangre flamea en la bandera
            agita en tus hijos la bandera de la libertad/ bis
           </p>

           <p style="font-weight: 600;"> ESTROFAS </p>

           <p style="font-weight: 600;">I</p>

            <p style="margin: 25px;">
            Mortiñera de los andes
            Contigo la esperanza se levanta
            dignidad en el mandato, y la gloria del presente
            libertad es la consigna, de los seres de tu tierra.
            </p>

           <p style="font-weight: 600;">II</p>
            <p style="margin: 25px;">
              El trabajo soberano nos distingue de los pueblos
            somos emblema de ensueño más allá de la penumbra
            tierra de vergeles a la vera de caminos
            con la frente en alto, tus hijos te saludan.
            </p>

           <p style="font-weight: 600;"> III </p>
            <p style="margin: 25px;">
            Alóag estampa de melodías y cantores
            respira en la cumbre del Corazón
            las conquistas de la siembra de los tiempos
            en los campos de la patria nuestra.
            </p>


          </div>
        </div>

      </div>
      <div class="col-md-2">
         <!-- Div tres -->
      </div>
    </div>
  </div>

<app-header></app-header>
<app-footer></app-footer>
