<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center;" >Donde Estamos Ubicados</h2>
      <br>
      <div class="card">
        <img src="../../../assets/mapa.jpg"  class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="card" style=" border-top: none;
                        border-left: none;
                        box-shadow: 10px 12px 15px rgb(156, 156, 156);">
        <h2 style="text-align: center;" >Formulario de Contacto</h2>
        <br>
        <form>
          <div class="form-group">
            <div class="row" style="margin: 5px; padding-top: 5px;">

                <div class="col-6">
                  <label for="" style="font-weight: 600;" >Nombres :</label>
                  <input type="text" class=" form-control "  style="border-top: none; border-left: none; border-right: none; "
                  placeholder="Escriba su Nombre">
                  <br>
                </div>
                <div class="col-6">
                  <label for=""  style="font-weight: 600;"  >Apellidos :</label>
                  <input type="text" class=" form-control " style="border-top: none; border-left: none; border-right: none; " placeholder="Escriba su Apellido">
                  <br>
                </div>



                <div class="col-6">
                  <label for=""  style="font-weight: 600;"  >Email :</label>
                  <input type="text" class=" form-control " style="border-top: none; border-left: none; border-right: none; " placeholder="Escriba su Email">
                  <br>
                </div>
                <div class="col-6">
                  <label for=""  style="font-weight: 600;"  > Telefono :</label>
                  <input type="text" class=" form-control " style="border-top: none; border-left: none; border-right: none; "  placeholder="Escriba su Telefono">
                  <br>
                </div>




              <div class="col-12">
                <label  style="font-weight: 600;"  >Asunto :</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>



            <button type="submit" style="position: relative; left: 45%;" class="btn btn-outline-primary "> Enviar
            </button>
          </div>




        </form>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #0B9782">
        <div style="margin: 5px; left: 50px;">

        </div>
        <h2 style="text-align: center; color: white;">Datos Informativos</h2>
        <br>

        <div style="margin: 8px; padding-left: 40px;">
          <h5 for="" style="color: white;" >Horarios de Atención :</h5>

        </div>
        <div style="padding: 5px; margin: 10px;">
          <table class="table table-hover" style="color: white;">
            <tbody>
              <tr>
                <th scope="row">Lunes - Viernes :</th>
                <th scope="row">8:00 - 17:00</th>

              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Sabado - Domingo :</th>
                <th scope="row">No se atiende</th>
              </tr>
            </tbody>
          </table>
        </div>

          <div style="margin: 8px; padding-left: 40px;">
            <h5 for="" style="color: white;">Contactos :</h5>

          </div>
          <div style="text-align: center;">
            <p style="color: white;"> (02) 238-9876 </p>
          </div>
          <div style="margin: 8px; padding-left: 40px;">
            <h5 for="" style="color: white;">Direccion :</h5>

          </div>
          <div style="text-align: center; margin: 10px;">
            <p style="color: white;">Provincia de Pichincha, Cantón Mejía, Parroquia de Alóag, Ecuador.</p>
          </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
