/* hola */

#alert {
  position: fixed;
  top: 30%;
  width: 40%;
  left: 30%;
}

#boton {
  position: relative;
  left: 20%;
  color: white;
}



@media (max-width: 1024px) {

  #alert {
    position: fixed;
    top: 30%;
    width: 80%;
    left: 10%;
  }

  #boton {
    position: relative;
    left: 35%;
    color: white;
    top: 15px;
  }

 }
