
<app-menu></app-menu>


<div class="container">
  <div class="row">
    <h2 style="text-align: center; color: #030303;" >Dónde Estamos Ubicados</h2>
    <div class="col-md-8">

      <br>
      <div class="card" style=" border-top: none;
      border-left: none;
      box-shadow: 10px 12px 15px rgb(156, 156, 156);" >
        <iframe   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.684806304259!2d-78.5873434857289!3d-0.46873323541172346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a8c33194a4d7%3A0x7b5a1cc2ea7cfb71!2sGAD%20Parroquial%20Rural%20de%20Aloag!5e0!3m2!1ses!2sec!4v1632747836641!5m2!1ses!2sec" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <br>

      <div class="card" style="background-color: #1596c9;">
        <div style="margin: 5px; left: 50px;">

        </div>
        <h2 style="text-align: center; color: white;">Datos Informativos</h2>
        <br>

        <div style="margin: 8px; padding-left: 40px;">
          <h5 for="" style="color: white;" >Horarios de Atención :</h5>

        </div>
        <div style="padding: 5px; margin: 10px;">
          <table class="table table-hover" style="color: white;">
            <tbody>
              <tr>
                <th scope="row">Lunes - Viernes :</th>
                <th scope="row">8:00 - 17:00</th>

              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Sabado - Domingo :</th>
                <th scope="row">No se atiende</th>
              </tr>
            </tbody>
          </table>
        </div>

          <div style="margin: 8px; padding-left: 40px;">
            <h5 for="" style="color: white;">Contactos :</h5>

          </div>
          <div style="text-align: center;">
            <p style="color: white;"> (02) 238-9876 </p>
          </div>
          <div style="margin: 8px; padding-left: 40px;">
            <h5 for="" style="color: white;">Direccion :</h5>

          </div>
          <div style="text-align: center; margin: 10px;">
            <p style="color: white;">Provincia de Pichincha, Cantón Mejía, Parroquia de Alóag, Ecuador.</p>
          </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card" style=" border-top: none;
                        border-left: none;
                        box-shadow: 10px 12px 15px rgb(156, 156, 156); ">
        <h2 style="text-align: center; margin: 10px; position: relative; top: 10px; color: #0D924A;" >Formulario de Contacto</h2>
        <br>
        <form  >
          <div class="form-group">
            <div class="row" style="margin: 15px; padding-top: 15px;">

               <!-- <div class="col-6">
                  <label for="" style="font-weight: 600; color: #0D924A" >Nombres :</label>
                  <input type="text"  class=" form-control "  style="border-top: none; border-left: none; border-right: none; "
                  placeholder="Escriba su Nombre">
                  <br>
                </div>
                <div class="col-6">
                  <label for=""  style="font-weight: 600; color: #0D924A"  >Apellidos :</label>
                  <input type="text"  class=" form-control " style="border-top: none; border-left: none; border-right: none; " placeholder="Escriba su Apellido">
                  <br>
                </div>
                -->


                <div class="col-6">
                  <label for=""   style="font-weight: 600; color: #0D924A"  >Email :</label>
                  <input type="text"   [ngModelOptions]="{standalone: true}" [(ngModel)]="email" class=" form-control " style="border-top: none; border-left: none; border-right: none; " placeholder="Escriba su Email">
                  <br>
                </div>
                <div class="col-6">
                  <label for=""  style="font-weight: 600; color: #0D924A"  > Asunto :</label>
                  <input type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="asunto" class=" form-control " style="border-top: none; border-left: none; border-right: none; "  placeholder="Escriba el Asunto">
                  <br>
                </div>




              <div class="col-12">
                <label  style="font-weight: 600; color: #0D924A"  >Mensaje :</label>
                <textarea  placeholder="Escribe el mensaje..." [ngModelOptions]="{standalone: true}" [(ngModel)]="mensaje" class="form-control" rows="3"></textarea>
              </div>
            </div>



            <button type="submit" style="position: relative; left: 45%;"
              (click)="send()"
            class="btn btn-outline-success "> Enviar
            </button>
          </div>




        </form>
      </div>

     <div *ngIf="alert"  id="alert" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Acción Realizada con Éxito </strong> <br> {{ msg }}
        <img src="../../../assets/creado.gif"  style="width: 10%; height: 10%; position: relative; left: 10%;" alt="">


        <a href="gad/contactos" id="boton" class="btn btn-success">Continuar </a>
      </div>

      <div *ngIf="error"  id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Llene todos los campos </strong> <br> {{ msgError }}
        <img src="../../../assets/error.gif"  style="width: 10%; height: 10%; position: relative; left: 10%;" alt="">

        <a href="gad/contactos" id="boton" class="btn btn-danger">Continuar </a>
      </div>

    </div>
    <div class="col-md-2">

    </div>

  </div>
</div>

<app-header></app-header>
<app-footer></app-footer>
