<app-menu></app-menu>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
   <div class="jumbotron text-center">
      <h1>Cronograma Institucional / Autoridades </h1> 
    </div><br>
   <!-- Container (The Band Section) -->
   <div id="band" class="container text-center">
      <img src="../../../assets/organigrama.png" class="img-circle person" alt="Random Name" width="100" height="100">
        
      <h3>Autoridades</h3><br>
     <div class="row">
       <div class="col-sm-4">
          <h5>Sr.Ernesto Caza</h5>
         <p class="text-center"><strong>Presidente</strong></p><br>
           <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="100" height="100">
         <div id="demo" class="collapse">
         </div>
       </div>
       <div class="col-sm-4">
         <h5>Prof.Homero Valencia</h5>
         <p class="text-center"><strong>Vicepresidente</strong></p><br>
           <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
         <div id="demo2" class="collapse">
         </div>
       </div>
       <div class="col-sm-4">
         <h5>Srta.Ruth Toaza</h5>
         <p class="text-center"><strong>Tesorera/contadora</strong></p><br>
           <img src="../../../assets/usuario-fe.png" class="img-circle person" alt="Random Name" width="255" height="255">
        <div id="demo3" class="collapse">
         </div>
       </div>
     </div>
     <br><br><br><br>
     <div class="row">
      <div class="col-sm-4">
         <h5>Srta.Viviana Santafe</h5>
        <p class="text-center"><strong>Secretaria</strong></p><br>
          <img src="../../../assets/usuario-fe.png" class="img-circle person" alt="Random Name" width="255" height="255">
        <div id="demo" class="collapse">
        </div>
      </div>
      <div class="col-sm-4">
         <h5>Prof.Jaime Constante</h5>
        <p class="text-center"><strong>Vocal</strong></p><br>
          <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
        <div id="demo2" class="collapse">
        </div>
      </div>
      <div class="col-sm-4">
         <h5>Abg.Kleber Caizaluisa</h5>
        <p class="text-center"><strong>Vocal</strong></p><br>
          <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
       <div id="demo3" class="collapse">
        </div>
      </div>
    </div>
    <br><br><br><br>
     <div class="row">
      <div class="col-sm-4">
         <h5>Sr.Tulio Gallardo</h5>
        <p class="text-center"><strong>Vocal</strong></p><br>
          <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
        <div id="demo" class="collapse">
        </div>
      </div>
      <div class="col-sm-4">
         <h5>Sr.Jaime Castillo</h5>
        <p class="text-center"><strong>Servicios Generales</strong></p><br>
          <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
        <div id="demo2" class="collapse">
        </div>
      </div>
      <div class="col-sm-4">
         <h5>Sr.Polinario Lima</h5>
        <p class="text-center"><strong>Servicios Generales</strong></p><br>
          <img src="../../../assets/usuario-ma.png" class="img-circle person" alt="Random Name" width="255" height="255">
       <div id="demo3" class="collapse">
        </div>
      </div>
    </div>
   </div>

 <app-header></app-header>
 <app-footer></app-footer>