<app-menu></app-menu>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="jumbotron text-center">
    <h1>Cronograma Institucional / Autoridades</h1>
  </div>
  <br />
  <!-- Container (The Band Section) -->
  <div id="band" class="container text-center">
    <img
      src="../../../assets/organigrama.png"
      class="img-circle person"
      alt="Random Name"
      width="100"
      height="100"
    />

    <hr />
    <br />
    <h3>Autoridades</h3>
    <hr />
    <img
      src="../../../assets/autoridades/Ernesto.jpg"
      alt="Paris"
      style="width: 40%"
    />
    <hr />
    <br />
    <h5>Sr.Ernesto Caza</h5>
    <p class="text-center"><strong>Presidente</strong></p>

    <div class="main">
      <hr />
      <br />
      <h3>Dignidades</h3>
      <hr />

      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="column">
          <div class="content">
            <img
              src="../../../assets/autoridades/homero.jpg"
              alt="Mountains"
              style="width: 110%"
            />
            <hr />
            <br />
            <h5>Prof.Homero Valencia</h5>
            <p class="text-center"><strong>Vicepresidente</strong></p>
            <br />
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img
              src="../../../assets/autoridades/jaime.jpg"
              alt="Lights"
              style="width: 90%"
            />
            <hr />
            <br />
            <h5>Prof.Jaime Constante</h5>
            <p class="text-center"><strong>Vocal</strong></p>
            <br />
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img
              src="../../../assets/autoridades/klever.jpg"
              alt="Nature"
              style="width: 90%"
            />
            <hr />
            <br />
            <h5>Abg.Kleber Caizaluisa</h5>
            <p class="text-center"><strong>Vocal</strong></p>
            <br />
          </div>
        </div>
        <div class="column">
          
          <div class="content">
            <img
              src="../../../assets/autoridades/tulio.jpg"
              alt="Mountains"
              style="width: 105%"
            />
            <hr />
            <br />
            <h5>Sr.Tulio Gallardo</h5>
            <p class="text-center"><strong>Vocal</strong></p>
            <br />
          </div>
        </div>
        <hr />
        <br />
        <h3>Aministrativos</h3>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="content">
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img
            src="../../../assets/autoridades/ruth.jpg"
            alt="Mountains"
            style="width: 110%"
          />
          <hr />
          <br />
          <h5>Srta.Ruth Toaza</h5>
          <p class="text-center"><strong>Tesorera/contadora</strong></p>
          <br />
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img
            src="../../../assets/autoridades/viviana.jpg"
            alt="Lights"
            style="width: 100%"
          />
          <hr />
          <br />
          <h5>Srta.Viviana Santafe</h5>
          <p class="text-center"><strong>Secretaria</strong></p>
          <br />
        </div>
      </div>
      <div class="column">
        <div class="content">
        </div>
      </div>

      <hr />
      <br />
      <h3>Apoyo</h3>
      <hr />
      <div class="row">
       
        <div class="column">
          <div class="content">
            />
          </div>
        </div> <div class="column">
          <div class="content">
            <img
              src="../../../assets/autoridades/jaime1.jpg"
              alt="Mountains"
              style="width: 145%"
            />
            <hr />
            <br />
            <h5>Sr.Jaime Castillo</h5>
            <p class="text-center"><strong>Servicios Generales</strong></p>
            <br />
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img
              src="../../../assets/autoridades/polinario.jpg"
              alt="Mountains"
              style="width: 100%"
            />
            <hr />
            <br />
            <h5>Sr.Polinario Lima</h5>
            <p class="text-center"><strong>Servicios Generales</strong></p>
            <br />
          </div>
        </div>
        <div class="column">
          <div class="content">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-header></app-header>
  <app-footer></app-footer>
</body>
