<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div  style="padding-top: 45px;" class="frame col-xs-6">
        <img src="../../../assets/historia.jpg" style="  border-radius: 15px; border-top: none;
        border-left: none;
        box-shadow: 10px 12px 15px rgb(156, 156, 156);

        ">
        <div class="details">
          <h1 class="titulo">Iglesia Parroquial de Alóag</h1>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h4>Historia de Alóag</h4>
        <hr style="background-color: #0B9782; height: 2px;">
        <p>Alóag, durante los dos primeros siglos de la Colonia,
          fue doctrina de indios, de Aloasí, parroquia regentada
          por los padres dominicos. En agosto de 1.745, es elevada
          a categoría de parroquia eclesiástica. El primer párroco
          fue el RP Miguel Barba.
        </p>
        <br>
        <p>Alóag, durante los dos primeros siglos de la Colonia,
          fue doctrina de indios, de Aloasí, parroquia regentada
          por los padres dominicos. En agosto de 1.745, es elevada
          a categoría de parroquia eclesiástica. El primer párroco
          fue el RP Miguel Barba.
        </p>
        <br>
        <p>Alóag, durante los dos primeros siglos de la Colonia,
          fue doctrina de indios, de Aloasí, parroquia regentada
          por los padres dominicos. En agosto de 1.745, es elevada
          a categoría de parroquia eclesiástica. El primer párroco
          fue el RP Miguel Barba.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>Alóag, durante los dos primeros siglos de la Colonia,
        fue doctrina de indios, de Aloasí, parroquia regentada
        por los padres dominicos. En agosto de 1.745, es elevada
        a categoría de parroquia eclesiástica. El primer párroco
        fue el RP Miguel Barba.
      </p>
      <br>
      <p>Alóag, durante los dos primeros siglos de la Colonia,
        fue doctrina de indios, de Aloasí, parroquia regentada
        por los padres dominicos. En agosto de 1.745, es elevada
        a categoría de parroquia eclesiástica. El primer párroco
        fue el RP Miguel Barba.
      </p>
      <br>
      <p>Alóag, durante los dos primeros siglos de la Colonia,
        fue doctrina de indios, de Aloasí, parroquia regentada
        por los padres dominicos. En agosto de 1.745, es elevada
        a categoría de parroquia eclesiástica. El primer párroco
        fue el RP Miguel Barba.
      </p>
    </div>
    <div class="col-md-8">
      <div style="padding-top: 45px;"  class="frame col-xs-6">
        <img src="../../../assets/diablo.JPG" style="  border-radius: 15px; border-top: none;
      border-left: none;
      box-shadow: 10px 12px 15px rgb(156, 156, 156);">
        <div class="details">
          <h1 class="titulo">Diablo de  Alóag</h1>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
