<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div  style="padding-top: 45px; " class="frame col-xs-6">
        <img src="../../../assets/antiguo.jpg" style="  border-radius: 15px; border-top: none;
        border-left: none;
        box-shadow: 10px 12px 15px rgb(156, 156, 156); height: 400px;
        ">
        <br>
        <div class="details">
          <h1 class="titulo1" style="position: relative; top: 30px;">Alóag Antiguo</h1>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h4 style="color: #030303;" >Historia de Alóag</h4>
        <hr style="background-color: #030303; height: 2px;">
        <p>La parroquia de Alóag se encuentra situada a las faldas del volcán El Corazón.
           Es un poblado asentado en un lugar estratégico ya que es el paso principal de conexión entre la Costa y la Sierra en el centro norte del país.
           Según algunos historiadores aducen que el nombre de Alóag significa “Niña mimada” y en lengua caribe “terreno extendido”.

        </p>
        <br>
        <p>Constituye la parroquia más antigua del cantón Mejía. Al igual que las otras parroquias del cantón,
          la vocación agrícola y ganadera ha permitido el desarrollo de su gente;
          además en esta parroquia sobresalen los restaurantes y locales de comida de paso y
          comercialización de comestibles como allullas y productos derivados de la leche como yogurt y manjar.

        </p>
        <br>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>
        De acuerdo con varios historiadores, se puede afirmar que el valle estuvo habitado por hordas de la tribu jíbara.
        Otros consideran que los Atacamas son los más antiguos pobladores de la zona. Un tercer grupo de autores afirma que los Panzaleos son los más antiguos de la localidad, los mismos tenían su propio idioma llamado "paéz".
      </p>
      <br>
      <p>Su gobierno estaba dirigido por un cacique y se confederaban cuando les amenazaba algún peligro.
        Una vez que estos pueblos fueron conquistados por los incas, estas tierras fueron retiros favoritos de la élite incásica.
        Se construyeron tambos o lugares de descanso, pues además de ofrecer fuentes de aguas termales, esta ruta era parte del camino real.
         Alóag, durante los dos primeros siglos de la Colonia, fue lugar de doctrina de indígenas de Aloasí, parroquia regentada por los padres dominicos.
     </p>
     <br>


    </div>
    <div class="col-md-5">
      <div style="padding-top: 45px;"  class="frame col-xs-6">
        <img src="../../../assets/iglesia.jpg" style="  border-radius: 15px; border-top: none;
      border-left: none;
      box-shadow: 10px 12px 15px rgb(156, 156, 156);">
        <div class="details">
          <h1 class="titulo2" style="position: relative; right: 5%;">Reconstruccion de la Iglesia </h1>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div  style="padding-top: 30px;" class="frame col-xs-6">
        <img src="../../../assets/historia.jpg" style="  border-radius: 15px; border-top: none;
        border-left: none;
        box-shadow: 10px 12px 15px rgb(156, 156, 156);
        height: 350px;
        ">
        <div class="details">
          <h1 class="titulo3" style="position: relative; top: 20px;">Parque Central de Alóag</h1>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-7">

     <p>En agosto de 1.745, fue elevada a categoría de parroquia eclesiástica.
      El primer párroco fue el RP Miguel Barba. En la época colonial, estos pobladores se destacaron por su patriotismo.
      Protagonizaron acciones nobles y causas justas. Participaron en jornadas heroicas como la gesta gloriosa del 11 de noviembre de 1820,
      fecha de la independencia de Machachi.
   </p>
   <br>
   <p>Alóag es una de las parroquias más antiguas de este cantón,
     ya que tiene más de un siglo de existencia. Por su ubicación estratégica,
     se ha convertido en un centro poblado dinámico,
     punto de paso entre las dos regiones naturales de la costa y la sierra.
      Por este lugar cruzan la carretera que va a Santo Domingo de Los Colorados y
       la Panamericana Sur.
   </p>
   <br>

    </div>
  </div>
</div>
<app-header></app-header>
<app-footer></app-footer>
