.card {
    align-items: center;
    position: relative;
    height: 320px;
}

img{
    height: 320px;
}
.we-btn-collapse{
    background: none;
    border: 0px;
}
.we-btn-collapse:hover{
    text-decoration: underline;
}