<app-menu></app-menu>
<section class="py-5 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Parroquial Rural Alóag(Barrios)</h1>
            <p class="lead text-muted">En la Parroquia de Alóag existen veinte y nueve barrios legalizados que se
                detallan a continuación:</p>
        </div>
    </div>
</section>

<div class="album py-1 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio 10 de Agosto</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Alóag Alto</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Ayahurco</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Aychapicho </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Arrayán</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Calvario</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Calvario</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Corazón </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Cortijo  </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Obelisco </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Portal</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Rosario </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Gualilagua</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Banda</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Juan de Quitasol (Vía Alóag – Sto Domingo Km 9)</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Concepción </p>
                    </div>
                </div>
            </div>
            <!-- since -->

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Libertad  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Piscina  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Las Orquideas </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Miravalle  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Norte  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Occidental  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Oriental </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Rumipamba  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Cristobal  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Vicente  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Santa Ana de la Concepción </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Sur  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Tanichilla </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Lagchi Bajo </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-header></app-header>
    <app-footer></app-footer>