<app-menu></app-menu>
<section class="py-5 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Parroquial Rural Alóag(Barrios)</h1>
            <p class="lead text-muted">En la Parroquia de Alóag existen veinte y nueve barrios legalizados que se
                detallan a continuación:</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <a  class="text-decoration-none text-dark" href="">
                        <div>
                            <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Barrio 10 de Agosto</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <a  class="text-decoration-none text-dark" href="#aloagAlto"  data-bs-toggle="modal">
                        <div>
                            <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Barrio Alóag Alto</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Ayahurco</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Aychapicho </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Arrayán</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Calvario</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Calvario</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Corazón </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Cortijo  </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Obelisco </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio El Portal</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio El Rosario </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Gualilagua</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Banda</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Juan de Quitasol (Vía Alóag – Sto Domingo Km 9)</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Concepción </p>
                    </div>
                </div>
            </div>
            <!-- since -->

            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Libertad  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio La Piscina  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Las Orquideas </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Miravalle  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Norte  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Occidental  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Oriental </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Rumipamba  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Cristobal  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio San Vicente  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Santa Ana de la Concepción </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Barrio Sur  </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Tanichilla </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div>
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyz4jfOan4-ewCPY7j6S-wlaf0VAPJqd4TA&usqp=CAU">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Barrio Lagchi Bajo </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-header></app-header>
    <app-footer></app-footer>

    <!-- Modales -->
    <!-- modal aloag alto -->
    <div class="portfolio-modal modal" id="aloagAlto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="../../../assets/home/img/close-icon.svg"
                        alt="Close modal" /></div>
                <div class="container">
                    <h2 class="text-uppercase">Barrio Alóag Alto</h2>
                    <p class="item-intro text-muted">GAD Parroquial Rural Alóag</p>
                    <div class="row">
                        <div class="col">
                            <div>
                                <p>
                                    Aloag Alto un barrio relativamente joven, tuvo sus inicios en el año 2008, cuando el señor Erick Vorbeck dueño de la antigua hacienda “La Concepción” decidiera iniciar un proyecto de lotización en su propiedad
                                </p>
                                <p>
                                    En el año 2010 falleció el Sr. Erick Vorbeck, quedando inconcluso el proyecto, sin el abastecimiento de todos los servicios básicos.
                                </p>
                                <p>
                                    Los espacios comenzaron a poblarse poco a poco y con el pasar del tiempo las necesidades eran más notorias ya que los servicios básicos que tenían solo eran provisionales.
                                </p>
                                <p>
                                    Es así que en el año 2015 ante la necesidad de mejorar la calidad de vida y no poseer las escrituras de sus lotes de terreno, los moradores deciden unir fuerzas y comenzar por sus propios medios la lucha por conseguir estos objetivos.
                                </p>
                                <p>
                                    Iniciando el camino con la conformación de la primera directiva legalmente registrada en el MIDUVI, para luego acudir al Municipio del Cantón Mejía e iniciar el debido proceso. El tiempo transcurría y entre trámites, requisitos, reuniones y uno que otro tropiezo, las fuerzas iban mermando, pero finalmente llegó el momento más anhelado, diciembre del año 2018, fecha donde se autorizaba por parte del Municipio de Mejia el fraccionamiento del predio y reconocía a Alóag Alto como un barrio legalmente constituido, cuatro meses después en abril del 2019 se llevó a cabo la firma de escrituras individuales y en agosto del mismo año se logró obtener la red de luz eléctrica gracias a un proyecto del BID el cual se gestionó por iniciativa propia.
                                </p>
                                <p>
                                    De esta manera Alóag Alto ha logrado salir adelante, demostrando unión y colaboración de sus moradores
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button">
                        <i class="fas fa-times me-1"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    